@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
@import url(../css/fonts/Gilroy/stylesheet.css);
/* font-family: 'Work Sans', sans-serif; */
/* font-family: 'Gilroy', sans-serif*/

body{
    font-family: 'Gilroy', sans-serif;
    font-weight: 500;
}

.none{
    display: none;
}

.container {
    max-width: 1750px;
    padding: 0 15px;
    margin: 0 auto;
}



/*Header*/
.header {
    min-height: 100vh;
    background-color: #e1edf2;
    background-image: url(../sourses/image/header/header-bg.jpg);
    background-size: cover;
    background-position: center center;
}

.header__top {
   padding: 44px 0;
   margin-bottom: 126px;
}

.nav{
    display: flex;
    justify-content: space-between;
}
.nav__logo {
}
.nav__list {
    display: flex;
    align-items: center;
    column-gap: 118px;
}

}
.link {
font-size: 20px;
font-weight: 800;
color: #114455;
}

/*Button*/
.btn {
display: inline-block;
padding: 10px 24px;
padding-right: 72px;
font-size: 20px;
font-weight: 800;
color: #114455;
border: 1px solid #114455;
border-radius: 2px;
position: relative;
}
.btn::after
{
    content: "";
    position: absolute;
    width: 32px;
    height: 32px;
    background-image: url(../sourses/image/icons/arrow-right-black.svg);
    background-repeat: no-repeat;
    background-position: center;
    right: 24px;
    top: 50%;
    transform: translateY(-50%);
    
}

.btn--bg {
    padding: 14px 32px;
    padding-right: 80px;
}
.btn--dark {
    background-color: #114455;
    color: #FFFFFF;
    background-repeat: no-repeat;
    background-position: center;
    
}
.btn--dark::after{
    background-image: url(../sourses/image/icons/arrow-right-white.svg);
}



.btn:hover{
    background-color: #114455;
    color: #FFFFFF;
}
.btn:hover::after{
    background-image: url(../sourses/image/icons/arrow-right-white.svg);
    }


.btn--dark:hover{
    background-color: #fff;
    color: #114455;
   
    }
    
.btn--dark:hover::after{
    background-image: url(../sourses/image/icons/arrow-right-black.svg);
}


/*HEADER CONTENT*/
.header__content {
    max-width: 1060px;
}
.header__title {
    margin-bottom: 48px;
    max-width: 734px;
    font-weight: 800;
    color: #114455;
    font-size: 80px;
}
.header__text {
    color: #1F1F1F;
    font-size: 34px;
    font-weight: 400;
    margin-bottom: 72px;
}
.header_btn {
}
.container-right{
    padding-left: calc((100% - 1750px)/2 + 15px);
}
/*SLIDER*/
.container-right {
}
.slider {
}
.slider__item {
}
/*Slide*/
.slide {
    position: relative;
    background-color: red;
    padding-left: 80px;
}
.slide__title {
    position: absolute;
    left:0;
    bottom: 104px;
    font-size: 140px;
    font-weight: 800;
    background: linear-gradient(90deg,rgba(17,68,85,1) 80px,rgba(255,255,255,1) 80px);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}
.slide__img {
}